## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log
AppSettings.json
AppSettings.Development.json
edutech-attendance-824c84625e05.json
google-services.json
appsettings.json
appsettings.Development.json

## SQLite
*.db
*.db-shm
*.db-wal
